<ul>
  <li appButtonHighlight [routerLink]="['../counter']">Counter Game</li>
  <li appButtonHighlight [routerLink]="['../number-validity']">
    Number Validity Checker
  </li>
  <li appButtonHighlight [routerLink]="['../shopping-cart']">Shopping Cart</li>
  <li appButtonHighlight [routerLink]="['../travel-media']">Travel Media</li>
  <li appButtonHighlight [routerLink]="['../favourites']">My Favourites</li>
  <li appButtonHighlight [routerLink]="['../user-profile']">User Profile</li>
  <li appButtonHighlight [routerLink]="['../data-transform']">
    Data Transform
  </li>
</ul>
