.warning{
    margin:auto;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    height: 100px;
    width: 600px;
    color: red;
    border: 1px solid darkred;
    background-color: lightcoral;
}