<article  style="position:relative">
    <h2>{{details.title}}</h2>       
    <hr>
    <h4>{{details.definition}}</h4>
    <br>
    <div class="row content">
        <div class="col-md-6">
            <aside>
                <p><strong>Syntax</strong>:</p>
                <pre>{{details.syntax}}</pre>
                <div  *ngIf="details.cliCommand !== ''">
                    <p>CLI Command:</p>
                    <i>{{details.cliCommand}}</i>
                </div>
            </aside>
            <button *ngIf="details.title=='Components'" (click)="showLifecycleHooks()">LifeCycle Hooks</button>
        </div>
        <div class="col-md-6">
            <h5>Description</h5>
            <ul *ngFor="let point of details.description">
                <li>{{point}}</li>
            </ul>
        </div>
    </div> 
    <div *ngIf="displayOn" class="pop-up">
        <img *ngIf="displayPage==1" src="../../../assets/images/lifecycle_hooks1.png" alt="LifeCycle Hooks of a Component">
        <button *ngIf="displayPage==1" (click)="displayPage=2">Next</button>
        <img *ngIf="displayPage==2" src="../../../assets/images/lifecycle_hooks2.png" alt="LifeCycle Hooks of a Component">
        <button *ngIf="displayPage==2" (click)="displayPage=0">Back</button>
    </div>
</article>
